<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Listado de Productos</h1>
        <div class="mt-4 mb-4 text-center">
            <a href="/clientes" class="btn btn-primary">Ver Clientes</a>
            <a href="/" class="btn btn-danger">Volver</a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="ace.webp" class="card-img-top" alt="Coca cola">
                        <div class="mt-3">
                            <h5 class="card-title">Detergente Ace</h5>
                            <p class="card-text">Descripción: Detergente Ace de 4 kg.</p>
                            <p class="card-text">Costo: $50</p>
                            <p class="card-text">Stack Actual: 20 unidades</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="aceite.png" class="card-img-top" alt="Aceite">
                        <div class="mt-4">
                            <h5 class="card-title">Aceite costeño</h5>
                            <p class="card-text">Descripción: Aceite costeño de 5 litros.</p>
                            <p class="card-text">Costo: $35</p>
                            <p class="card-text">Stack Actual: 5 unidades</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="arroz.jpg" class="card-img-top" alt="Arroz">
                        <div class="mt-4">
                            <h5 class="card-title">Arroz Tottus</h5>
                            <p class="card-text">Descripción: Arroz Tottus de 5 kg.</p>
                            <p class="card-text">Costo: $22</p>
                            <p class="card-text">Stack Actual: 40 unidades</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</html>
